/* Основные стили */
html, body {
    background: #131b21;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}

.title {
    color: white;
    font-size: 3.5rem;
    line-height: 1.4;
    font-weight: 700;
    cursor: pointer; /* Указатель мыши */
}

.title-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    margin: 0 !important; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
}

.title-text h1, .title-text p {
    margin: 0 !important; /* Убираем отступы у заголовков и текста */
    padding: 0 !important;
}

/* Стили модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Затемнение фона */
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 1000;
}

.modal-content {
    position: relative;
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    max-width: 50%;
    width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0;

}

.modal-content img {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
}

.modal-text {
    margin-top: 10px;
    color: #131b21;
}
.modal-content .modal-text{
    margin: 5px 0 0;
    font-size: 3.5rem;
    font-weight: 700;

}

/* Кнопка закрытия */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: #131b21;
    cursor: pointer;
    background: none;
    border: none;
    
}

.hint{
    color: rgb(68, 65, 65);
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 700;
    cursor: pointer; /* Указатель мыши */
}

.main{
    column-count: 4;
    column-gap: 20px;
    padding: 20px;
    color: white;
    font-size: 2rem;
    line-height: 1.5;
    border: 1px solid #444;
    border-radius: 10px;
    max-width: 100%;
    margin: 20px auto;
}

.ht{
    color: white;
    font-weight: 700;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
    text-align: center;
    margin: 0;
    padding: 0;
}

.komp{
    color: white;
    font-weight: 700;
    font-size: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-photo{
    color: white;
    font-weight: 400;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 200px;
}


/* слайдер */
.slider {
    position: relative;
    max-width: 80%; /* Ширина слайдера */
    margin: 50px auto;
    overflow: hidden;
    border-radius: 10px;
}

.slider-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-images img {
    width: 50%; /* Фото занимает всю ширину слайдера */
    display: none; /* Скрываем все изображения по умолчанию */
    flex-shrink: 0;
}

.slider-images img.active {
    display: block; /* Показываем активное изображение */
    margin: 0 auto;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    z-index: 1000;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.heart{
    padding-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25rem;
    color: red;
    animation: heart 1.5s infinite ease-in-out;
}

@keyframes heart{
    0%{
        transform: scale(1);
        transform-origin: center center;
        transition-timing-function: ease-out;
    }

    10%{
        transform: scale(0.90);
        transition-timing-function: ease-in;
    }

    17%{
        transform: scale(0.95);
        transition-timing-function: ease-out;
    }

    33%{
        transform: scale(0.85);
        transition-timing-function: ease-in;
    }

    45%{
        transform: scale(1);
        transition-timing-function: ease-out;
    }
}

.film{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 400;
}

.otsilka{
    text-decoration: none;
    color: white;
}

.film a:hover {
    color: #e66e6e;
    }

    .collage {
        justify-self: center;
        align-self: center;
        align-items: center;
        min-height: 60vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        max-width: 1000px;
        margin: 20px;
      }
      .collage img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }

/* Адаптация для мобильных устройств */
@media screen and (max-width: 768px) {
    .main {
        column-count: 2; /* 2 столбца на средних экранах */
    }
}

@media screen and (max-width: 630px) {
    .main {
        column-count: 1; /* 1 столбец на маленьких экранах */
    }
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 2rem; /* Уменьшаем размер текста для небольших экранов */
    }
    .modal-content .modal-text{
        font-size: 2rem;
    }
    .ht {
        font-size: 1.5rem;
    }

    .heart{
        font-size: 20rem;
    }

    .komp{
        font-size: 2rem;
    }

    .kompliment{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 420px) {
    .title {
        font-size: 1.5rem; /* Уменьшаем размер текста для небольших экранов */
    }
    .modal-content .modal-text{
        font-size: 1rem;
    }

    .modal-content .photo-modal{
        max-width: 70%;
        height: auto;
        border-radius: 10px;
    }

    .modal-content.legend-photo{
        width: 150px;
        height: 100%;
        border-radius: 10px;
    }

    .modal-content{
        padding: 20px 20px;
    }
    .hint{
        font-size: 0.8rem;
    }
    .title-text {
        padding: 0 10px; /* Добавляем отступы, чтобы текст не "прилипал" к краям */
    }

    .ht {
        font-size: 1.3rem;
    }

    .text-photo{
        font-size: 1.3rem;
    }
    .slider {
        max-width: 100%; /* Слайдер занимает всю ширину экрана */
    }

    button {
        padding: 5px 10px; /* Уменьшаем размеры кнопок */
        font-size: 14px; /* Уменьшаем размер текста кнопок */
    }

    .slider-images img {
        width: 100%; /* Каждое изображение остаётся адаптированным */
    }

    .collage{
        grid-template-columns: 1fr; /* 1 столбец */
    }

    .otsilka{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 375px) {
    .title {
        font-size: 1.3rem; /* Ещё немного уменьшаем шрифт для узких экранов */
    }
    .modal-content .modal-text{
        font-size: 1rem;
    }
}
